# SPDX-FileCopyrightText: 2006-2023, Knut Reinert & Freie Universität Berlin
# SPDX-FileCopyrightText: 2016-2023, Knut Reinert & MPI für molekulare Genetik
# SPDX-License-Identifier: CC0-1.0

name: macOS 12

on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

concurrency:
  group: macos-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

env:
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -Eexuo pipefail {0}

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: macos-12
    timeout-minutes: 180
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "gcc11 (c++20)"
            compiler: "gcc-11"
            build_type: Release
            cpp: 20

          - name: "gcc10 (c++20)"
            compiler: "gcc-10"
            build_type: Release
            cpp: 20

          - name: "clang12 (c++20)"
            compiler: "clang-12"
            build_type: Release
            cpp: 20

    steps:
      - name: Checkout TDL
        uses: actions/checkout@v4
        with:
          path: tdl
          fetch-depth: 2

      - name: Setup compiler
        uses: seqan/actions/setup-compiler@main
        with:
          compiler: ${{ matrix.compiler }}

      - name: Install CMake
        uses: seqan/actions/setup-cmake@main
        with:
          cmake: 3.15.4

      - name: Configure tests
        run: |
          ls
          mkdir tdl-build
          cd tdl-build
          cmake ../tdl -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
                       -DCMAKE_CXX_FLAGS="-Wall -Wextra -pedantic" \
                       -DCMAKE_CXX_STANDARD=${{ matrix.cpp }}

      - name: Build tests
        run: |
          cd tdl-build
          make -k -j3

      - name: Run tests
        run: |
          cd tdl-build
          ctest . -j3 --output-on-failure
