# SPDX-FileCopyrightText: 2006-2024, Knut Reinert & Freie Universität Berlin
# SPDX-FileCopyrightText: 2016-2024, Knut Reinert & MPI für molekulare Genetik
# SPDX-License-Identifier: CC0-1.0

name: macOS

on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

concurrency:
  group: macos-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

env:
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -Eeuxo pipefail {0}

jobs:
  build:
    name: ${{ matrix.compiler }} C++${{ matrix.cpp }} ${{ matrix.build_type }}
    runs-on: macos-latest
    timeout-minutes: 60
    if: github.repository_owner == 'deNBI-cibi' || github.event_name == 'workflow_dispatch'
    strategy:
      fail-fast: false
      matrix:
        compiler: ["clang-latest", "clang-second-latest", "clang-third-latest", "gcc-latest", "gcc-second-latest", "gcc-third-latest"]
        cpp: [17, 26]
        build_type: [Release, Debug]
        exclude:
          - compiler: gcc-third-latest
            cpp: 26
        include:
          - compiler: gcc-latest
            cpp: 17
            build_type: Release
            cpp_flags: "-Wno-maybe-uninitialized"
          - compiler: gcc-second-latest
            cpp: 17
            build_type: Release
            cpp_flags: "-Wno-maybe-uninitialized"
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup compiler
        uses: seqan/actions/setup-compiler@main
        with:
          compiler: ${{ matrix.compiler }}

      - name: Configure tests
        run: |
          mkdir build && cd build
          cmake ../ -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
                    -DCMAKE_CXX_FLAGS="-Wall -Wextra -pedantic -Werror ${{ matrix.cpp_flags }}" \
                    -DCMAKE_CXX_STANDARD=${{ matrix.cpp }}

      - name: Build tests
        working-directory: build
        run: make -k

      - name: Run tests
        working-directory: build
        run: ctest . -j --output-on-failure --no-tests=error
