name: macOS 12

on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

concurrency:
  group: macos-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

env:
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -Eexuo pipefail {0}

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: macos-12
    timeout-minutes: 180
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "gcc11 (c++20)"
            compiler: "gcc-11"
            build_type: Release
            cxx_flags: "-std=c++20"

          - name: "gcc10 (c++20)"
            compiler: "gcc-10"
            build_type: Release
            cxx_flags: "-std=c++20"

          - name: "clang12 (c++20)"
            compiler: "clang-12"
            build_type: Release
            cxx_flags: "-std=c++20"

    steps:
      - name: Checkout TDL
        uses: actions/checkout@v2
        with:
          path: tdl
          fetch-depth: 2

      - name: Setup toolchain
        uses: seqan/actions/setup-toolchain@main
        with:
          compiler: ${{ matrix.compiler }}
          ccache_size: 25M

      - name: Install CMake
        uses: seqan/actions/setup-cmake@main
        with:
          cmake: 3.15.4

      - name: Configure tests
        run: |
          ls
          mkdir tdl-build
          cd tdl-build
          cmake ../tdl -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
                       -DCMAKE_CXX_FLAGS="${{ matrix.cxx_flags }}"

      - name: Build tests
        run: |
          ccache -z
          cd tdl-build
          make -k -j3
          ccache -sv

      - name: Run tests
        run: |
          cd tdl-build
          ctest . -j3 --output-on-failure
