name: Ubuntu 20.04

on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

concurrency:
  group: ubuntu2004-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

env:
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -Eexuo pipefail {0}

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-20.04
    timeout-minutes: 120
    strategy:
      fail-fast: true
      matrix:
        include:
          - name: "clang10 (c++17)"
            compiler: "clang-10"
            build_type: Release
            cpp: 17

    steps:
      - name: Checkout TDL
        uses: actions/checkout@v4
        with:
          path: tdl
          fetch-depth: 2

      - name: Setup compiler
        uses: seqan/actions/setup-compiler@main
        with:
          compiler: ${{ matrix.compiler }}

      - name: Install CMake
        uses: seqan/actions/setup-cmake@main
        with:
          cmake: 3.15.4

      - name: Configure tests
        run: |
          mkdir tdl-build
          cd tdl-build
          cmake ../tdl -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
                       -DCMAKE_CXX_FLAGS="-Wall -Wextra -pedantic" \
                       -DCMAKE_CXX_STANDARD=${{ matrix.cpp }}

      - name: Build tests
        run: |
          cd tdl-build
          make -k -j2

      - name: Run tests
        run: |
          cd tdl-build
          ctest . -j2 --output-on-failure
